{% extends 'base.html' %} {% block content %}

<h1>Course Details</h1>
<div class="row">
  <div class="col s12">
    <div class="card teal lighten-5" id="coursedetail">
      <div class="card-content">
        <span class="card-title">{{ course.title }}</span>
        <p>Subject: {{ course.subject }}</p>
        <p>Teacher: {{ course.teacher }}</p>
        <p>Day: {{ course.get_day_display }}</p>
        <p>Time: {{ course.get_time_display }}</p>
        <p>Description: {{ course.description }}</p>
        <p>Prereqs: {{ course.prereq }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'courses_update' course.id %}">Edit</a>
        <a href="{% url 'courses_delete' course.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <h4>Add Lessons:</h4>
    <form action="{% url 'add_lesson' course.id %}" method="POST">
      {% csrf_token %}
      {{ lesson_form.as_p }}
      <input type="submit" class="btn" value="Add Lesson">
    </form>
    <br>
  </div>
  <div class="col s6">
    <h4>{{ course.title }}'s Lessons:</h4>
    <table class="striped">
      <thead>
        <tr><th>Unit</th><th>Title</th><th>Description</th></tr>
      </thead>
      <tbody>
        {% for lesson in course.lesson_set.all %}
          <tr>
            <td>{{lesson.unit}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.description}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
 
<div class="row">
  <div class="col s6">
    <h4>{{ course.title }}'s Students: </h4>
    {% if course.students.count %}
      {% for student in course.students.all %}
        <div class="card teal lighten-5">
          <div class="card-content">
            <span class="card-title">
              {{ student.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_student' course.id student.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Students</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h4>Available Students: </h4>
    {% if students.count %}
      {% for student in students.all %}
        <div class="card teal lighten-5">
          <div class="card-content">
            <span class="card-title">
              {{ student.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_student' course.id student.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h4>{{course.name}} Already Has All Students</h4>
    {% endif %}
  </div>
</div>


{% endblock %}
