{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Student</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script> 
    const yearEl = document.getElementById('id_year')
    M.FormSelect.init(yearEl)

    const learning_differenceEl = document.getElementById('id_learning_difference')
    M.FormSelect.init(learning_differenceEl)

  </script>  
{% endblock %}

