body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(252, 252, 228, 0.475);
  }
  
  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

#coursedetail{
  margin-left:15%;
  width: 70%;
}

#studentdetail{
  margin-left:20%;
  width: 60%;
}


div.card.teal.lighten-5:hover {
  box-shadow: 2px 2px rgba(216, 212, 212, 0.603);
}
div#student-photo{
  display:flow-root;
}
img.responsive-img.card-panel {
  max-width:30%;
  padding:0;
  float:right;
  overflow: auto;
  height:auto;
  max-height: 100%;
  border-radius: 5%;
}

div.card-panel.teal-text.center-align {
  max-width:30%;
  padding:5%;
  float:right;
  font-size: 90%;
  overflow: auto;
  max-height: 70%;
  border-radius: 5%;

}

